body {
  background-color: bisque !important;
}

.time-elapsed {
  font-size: 75px;
  visibility: hidden;
}

.light {
  background-color: grey;
  border-radius: 250px;
  height: 500px;
  padding-left: 95px;
  padding-top: 195px;
  width: 500px;
}

.light:hover .time-elapsed {
  visibility: visible;
}

.start-timer {
  background-color: forestgreen;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  font-size: 28px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.start-timer:hover {
  background-color: darkgreen;
}

.stop-timer, .reset-timer {
  border-color: bisque;
  color: white;
  font-size: 25px;
  font-weight: bold;
  width: 102px;
  height: 100px;
  background: firebrick;
  position: relative;
  text-align: center;
}

.stop-timer:before, .reset-timer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid firebrick;
  border-left: 29px solid bisque;
  border-right: 29px solid bisque;
  width: 100px;
  height: 0;
}

.stop-timer:after, .reset-timer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid firebrick;
  border-left: 29px solid bisque;
  border-right: 29px solid bisque;
  width: 100px;
  height: 0;
}

